<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AngularJS Foundations</title>

    <meta name="author" content="ti&amp;m AG, Stefan Zollinger">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link href='//fonts.googleapis.com/css?family=Roboto:300,700,400,100' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/ti8m.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <div class="slides">
        <section class="splash">
            <h1>AngularJS Foundations</h1>
            <h2>Workshop</h2>
            <p>
                <img src="img/ng-logo.svg" width="400" />
            </p>
            <p>
                <small>18. Januar 2016</small>
            </p>
            <div class="footer">
                <p>
                    Mato Ilic • Stefan Zollinger
                </p>
                <ul>
                    <li>Consulting.</li>
                    <li>Design.</li>
                    <li>Agile Projects.</li>
                    <li>Products.</li>
                    <li>Innovation Hosting.</li>
                </ul>
            </div>
        </section>

        <section>
            <h2>Warum dieser Kurs?</h2>
        </section>

        <section>
            <h2>
                Einstieg in AngularJS ist zwar einfach, aber&hellip;
            </h2>
            <ul>
                <li class="fragment">keine (offiziellen) Konventionen.</li>
                <li class="fragment">viele verschiedene Ansätze im Netz.</li>
                <li class="fragment">AngularJS beinhaltet viel "Magic" der man nicht blind vertrauen sollte.</li>
            </ul>
        </section>

        <section>
            <h2>Ziele</h2>
            <ul>
                <li class="fragment">Guidelines und Struktur geben.</li>
                <li class="fragment">AngularJS Konzepte und deren Anwendungen klären.</li>
                <li class="fragment">"Magische" Teile von AngularJS durchleuchten.</li>
            </ul>
        </section>


        <section>
            <h2>Setup Workshop Projekt</h2>
            <p>
                Schritte um das Projekt zu installieren:
            </p>
<pre>
<code class="bash" data-trim>
$ git clone https://github.com/matoilic/AngularWorkshop
$ cd AngularWorkshop
$ npm install -g gulp
$ npm install
$ gulp
</code>
</pre>
        </section>

        <section>
            <h2>Übersicht Workshop Projekt</h2>
            <ul>
                <li>Abhängigkeiten</li>
                <li>Verzeichnisstrutkur</li>
                <li>Build System</li>
            </ul>
        </section>
        <section>
            <h2>Abhängigkeiten (npm)</h2>
            <p>
                Definiert in package.json:
            </p>
<pre>
<code class="json" data-trim>
{
    "name": "my-package",
    "description": "An example package",
    "version": "0.0.1",
    "devDependencies": {
        "gulp": "^3.8.11",
        "gulp-connect": "^2.2.0",
        "gulp-protractor": "^1.0.0"
    },
    "dependencies": {
        "angular": "^1.4.0",
        "angular-resource": "^1.4.0",
        "angular-ui-router": "^0.2.15",
        "normalize.css": "^3.0.3"
    }
}
</code>
</pre>

            <aside class="notes">
                dependencies &#10174; Laufzeitabhängigkeiten (z.B. Angular oder Bootstrap)<br>
                devDependencies &#10174; Abhängigkeiten für Entwicklung (z.B. Gulp oder Karma)<br>
                Verwaltung mittels NPM CLI
            </aside>
        </section>

        <section>
            <h2>Top Level Struktur</h2>
<pre>
<code class="bash" data-trim>
.git/
node_modules/
src/
.editorconfig
.gitignore
.jshintrc
gulpfile.js
index.html
package.json
protractor.conf.js
webpack.conf.js
</code>
</pre>

            <aside class="notes">
                - Struktur ist ähnlich bei den meisten modernen Frontend Projekten<br><br>
                Kurz erklären was warum.
            </aside>

        </section>
        <section>
            <h2>AngularJS Struktur</h2>
<pre>
<code class="bash" data-trim>
components/
    /address-book/
    /application/
    /welcome-state
        /index.js
        /welcome-state.js
        /welcome-controller.js
        /welcome.html
    images/
    stylesheets/
</code>
</pre>

            <aside class="notes">
                Kurz erklären was warum.
            </aside>

        </section>

        <section>
            <h2>Standard Projektstruktur</h2>
<pre>
<code class="bash" data-trim>
/controllers
    /home-controller.js
    /other-controller.js
    /even-more-controller.js
/services
    /home-service.js
    /other-service.js
    /3rd-service.js
/views
    /home.html
    /other.html
    /more-templates.html
</code>
</pre>

            <p>
                <img width="200" height="200" src="http://cdn.meme.am/instances/500x/11541951.jpg">
            </p>


        </section>


        <section>
            <h2>Vorteile fachlicher Aufteilung</h2>
            <ul class="small">
                <li>Alle Teile einer Komponente sind unter einem Dach.</li>
                <li>Komponenten sind einfacher wiederverwendbar.</li>
                <li>Die Auswirkungen von Code-Änderungen sind besser nachvollziehbar.</li>
            </ul>
        </section>

        <section>
            <h2>Backend</h2>
            <p>
                API-Endpoint<br>
                <a href="https://nameless-sierra-8010.herokuapp.com/api">https://nameless-sierra-8010.herokuapp.com/api</a>
            </p>
            <p>
                API-Browser<br>
                <a href="https://nameless-sierra-8010.herokuapp.com/explorer">https://nameless-sierra-8010.herokuapp.com/explorer</a>
            </p>
        </section>

        <section>
            <h2>Workflow Automation mit Gulp</h2>

            <p>gulpfile.js</p>

            <h3>Default-Task</h3>

            <ul>
                <li><strong>connect</strong> Startet den Entwicklungsserver.</li>
            </ul>

            <h3>&quot;test&quot;-Task</h3>

            <ul>
                <li><strong>test</strong> Startet Protractor end-to-end Tests.</li>
            </ul>
        </section>

        <section>
            <h2>Bundling mit webpack</h2>

            <ul>
                <li>Server mit Livereload während der Entwicklung.</li>
                <li>Resource-Bundling für Production.</li>
            </ul>
        </section>

        <section>
            <h2>import &#10234; export</h2>

            <dl>
                <dt>import</dt>
                <dd>Importiert die öffentlichen Teile eines Paketes in eine lokale Variable / Referenz.</dd>
                <dt>export</dt>
                <dd>Macht Komponententeile zugänglich für andere Module.</dd>
            </dl>
        </section>

        <section>
            <h2>Modul-Export</h2>

<pre><code class="javascript" data-trim>
class ExampleController {
    // ...
}

export default [
    'dependency1',
    'dependency2',
    ExampleController
];
</code></pre>
        </section>

        <section>
            <h2>Modul-Import</h2>

<pre><code class="javascript" data-trim>
import angular from 'angular';
import ExampleController from './example-controller';

const dependencies = [

];

export default angular
    .module('example-module', dependencies)
    .controller('ExampleController', ExampleController);
</code></pre>
        </section>

        <section>
            <h2>AngularJS im Überblick</h2>
            <img src="/img/ng-arch.svg">
        </section>

        <section>
            <h2>Angular Modul</h2>

            <p>Sammlung von Klassen, Funktionen und Objekten.</p>
        </section>

        <section>
            <h2>Neues Modul definieren</h2>
<pre>
<code class="javascript" data-trim>
angular.module('myApp', []);
</code>
</pre>

            <h2>Modul 'myApp' referenzieren</h2>
<pre>
<code class="javascript" data-trim>
angular.module('myApp');
</code>
</pre>

        </section>

        <section>
            <h2>Modul-Laufzeit</h2>
<pre>
<code class="javascript" data-trim>
angular
    .module('myModule', ['ui-router'])
    .config(function($stateProvider){})
    .run(initializationFn)
    .provider('myProvider', function(){})
    .controller('myController', '')
</code>
</pre>
            <h3>Ablauf</h3>
            <ul>
                <li>Modul wird mit Dependency 'ui-router'  initialisiert
                <li>config() wird ausgeführt
                <li>run() wird ausgeführt
            </ul>
        </section>


        <section>
            <h2>Dependency Injection</h2>
            <ul>
                <li class="fragment">Injector bietet einen Weg Module nach Namen zu referenzieren.</li>
                <li class="fragment">Jede AngularJS App hat einen Injector.</li>
                <li class="fragment">Jedes Modul wird nur einmal instanziert.</li>
                <li class="fragment">Injector löst Dependencies in Funktionen auf.</li>
            </ul>

<pre class="fragment">
<code class="javascript" data-trim>
class MyService {
    constructor(dependencyA, dependencyB) {
        // Do something with dependencyA
        dependencyA.doSomething();
    }
}
</code>
</pre>
        </section>
        <section>
            <h2>Dependency Injection</h2>
            <ul>
                <li><strong>Achtung:</strong> Automatische DI funktioniert nur solange der Code nicht minifiziert ist.
                <li><strong>Besser:</strong> Dependencies explizit angeben.
            </ul>

<pre>
<code class="javascript" data-trim>
class MyService {
    constructor(DependencyA) { }
}

angular
    .module('myApp')
    .service('MyService', ['DependencyA', MyService]);
</code>
</pre>


        </section>
        <section>
            <h2>Tipp</h2>
            <p>Mit 'ngStrictDi' explizite DI Annotationen forcieren.</p>
<pre>
<code class="html" data-trim>&lt;body ng-app="myApp" ng-strict-di=&quot;true&quot;&gt;</code>
</pre>

        </section>

        <section>
            <h2>Views (Templates)</h2>
            <p>
                HTML Dateien.
            </p>
<pre>
<code type="html" data-trim>
&lt;div&gt;
&lt;h1&gt;Address book&lt;/h1&gt;
&lt;p&gt;
Hello World.
&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
            <p>
                Templates müssen immer ein Root-Element besitzen.
            </p>
        </section>

        <section>
            <h2>Routing</h2>
            <p>Verbindet States und ihre Views mit spezifischen URLs.</p>
        </section>
        <section>
            <h2>Beispiel einer Route</h2>
<pre>
<code type="javascript" data-trim>
function contactListState($stateProvider) {
    $stateProvider.state('contactList', {
        url: '/contact-list',
        templateUrl: 'contact-list.html',
        resolve: { }
    });
}

angular
    .module('ContactList')
    .config(['$stateProvider', contactListState]);
</code>
</pre>
        </section>
        <section>
            <h2>ng-route vs ui-router</h2>
            <ul >
                <li class="fragment">
                    <h3>ng-route</h3>
                    <ul>
                        <li>Standard-Komponente von Angular.</li>
                        <li>Erlaubt nur einfache Routes und Views.</li>
                    </ul>
                </li>
                <li class="fragment">
                    <h3>ui-router</h3>
                    <ul>
                        <li>Kann verschachtelte Views darstellen und komplexe States abbilden.</li>
                        <li>De-facto Standard.</li>
                    </ul>
                </li>
            </ul>
            <h3 class="fragment">Empfehlung: immer ui-router verwenden.</h3>
        </section>

        <section class="hands-on" data-state="hands-on" >
            <h2>Hands-on</h2>
            <h3>Neue Route für Kontaktliste erstellen. </h3>
            <ul>
                <li>Neues Modul ContactList (analog 'Welcome') erstellen.</li>
                <li>View Template: contact-list.html.</li>
                <li>Route: /contact-list.</li>

            </ul>
            <p>
                <img width="200" height="200" src="http://cdn.meme.am/instances/500x/57106019.jpg">
            </p>
        </section>

        <section>
            <h2>Directives</h2>
            <ul>
                <li class="fragment">Wiederverwendbare UI-Komponenten.</li>
                <li class="fragment">Erweiterte HTML Tags bzw. Web Components.</li>
                <li class="fragment">Darf DOM Manipulationen machen.</li>
                <li class="fragment">Kann HTML Elemente mit neuem Verhalten erweitern.</li>
            </ul>
        </section>


        <section>
            <h2>Beispiele für Direktiven</h2>
            <div class="fragment">
                <h3>ng-model</h3>
<pre>
<code type="html" data-trim>
&lt;input type=&quot;text&quot; name=&quot;searchTerm&quot; ng-model=&quot;searchTerm&quot;/&gt;
&lt;p&gt;{{ searchTerm }}&lt;/p&gt;
</code>
</pre>
            </div>

            <div class="fragment">
                <h3>ng-class</h3>
<pre>
<code type="html" data-trim>
&lt;p ng-class=&quot;{'expanded': textExpanded}&quot;&gt;Some content&lt;/p&gt;
</code>
</pre>
            </div>

            <div class="fragment">
                <h3>ng-if</h3>
<pre>
<code type="html" data-trim>
&lt;p ng-if=&quot;myController.isShown&quot;&gt;Content goes here.&lt;/p&gt;
</code>
</pre>
            </div>

        </section>

        <section data-state="hands-on" data-markdown>
            ##Hands-on

            * Füge der contact-list View ein Input Feld hinzu.
            * Verwende <code>ng-model</code> um den Input einer Variable zuzuweisen.
            * Gib die Variable auf der Seite aus.

            ### Bonus

            * Falls der Input Wert 'spin' ist, soll dem Element eine CSS Klasse mit dem Namen 'spin' hinzugefügt werden (Tipp: ng-class).
        </section>

        <section>
            <h2>Controller</h2>
            <p>Controller stellen der View Funktionen zur Verfügung und repräsentieren den State der View. Controller agieren als View Model.</p>
        </section>

        <section>
            <h2>Was nicht in den Controller gehört</h2>
            <ul>
                <li class="fragment">Business-Logik.</li>
                <li class="fragment">State mit anderen Controllern teilen.</li>
                <li class="fragment">Output formatieren.</li>
            </ul>
            <aside class="notes">
                <ul>
                    <li><strong>Business-Logik.</strong> Gehört in Services</li>
                    <li><strong>Output formatieren und filtern.</strong> Dazu sind AngularJS Filter da</li>
                    <li><strong>State mit anderen Controllern teilen.</strong> Dafür gibt es die AngularJS Services</li>
                </ul>
            </aside>
        </section>

        <section>
            <h2>Controller definieren</h2>
<pre>
<code class="javascript" data-trim>
class ContactListController {
    constructor($scope, $stateParams) {

    }
}

angular
    .module('ContactList', [])
    .controller('ContactListController', [
        '$scope',
        '$stateParams',
        ContactListController
    ]);
</code>
</pre>
        </section>

        <section>
            <h2>Controller einer View zuweisen</h2>
<pre class="fragment">
<code class="javascript" data-trim>
    function contactListState($stateProvider) {
        $stateProvider.state('contact-list', {
            url: '/contact-list',
            templateUrl: 'contact-list.html',
            controller: 'ContactListController as $ctrl'
        });
    }

    angular
        .module('ContactList')
        .config(['$stateProvider', contactListState]);
</code>
</pre>
            <aside class="notes">
                Frage: Wo würde man die Zuweisung erwarten?
            </aside>
        </section>

        <section data-state="hands-on">
            <h2>Hands-on</h2>
            <ul>
                <li>Erstelle einen neuen Controller 'ContactListController' im Modul ContactList.</li>
                <li>Definiere einen Array mit den Namen der Kontakte.</li>
                <li>Liste diese Namen in der View auf (siehe: ng-repeat Direktive).</li>
            </ul>
        </section>

        <section>
            <h2>Filter</h2>
            <ul>
                <li class="fragment">Transformieren Werte und Objekte im View Template.</li>
                <li class="fragment">Sind Chainable durch den Pipe Separator.</li>
            </ul>
            <div class="fragment">
                <p>
                    Beispiel:
                </p>
<pre>
<code type="html" data-trim>
{{ 1434098007198 | date:'shortDate' }}
</code>
</pre>
            </div>

        </section>

        <section data-state="hands-on" data-markdown>
            ## Hands-on

            Verwende den AngularJS Filter "filter" um die Kontaktliste nach dem Wert aus Suchfeld zu filtern.

            ### Bonus

            Erstelle einen Filter, der den ersten Buchstaben eines Strings immer gross ausgibt.

            Es gibt keine “capitalize” Funktion in Javascript, deshalb hier der Code:

            ``` javascript
            var myString = 'angular';
            myString.charAt(0).toUpperCase() + myString.substring(1);
            // Prints 'Angular'
            ```
        </section>

        <section data-markdown>
            ## Formulare & Validierung
            ``` html
            &lt;form name=&quot;form&quot; novalidate&gt;
                &lt;p&gt;
                    &lt;label for=&quot;fieldEmail&quot;&gt;Email&lt;/label&gt;
                    &lt;input type=&quot;email&quot; ng-model=&quot;user.email&quot;
                     name=&quot;fieldEmail&quot; id=&quot;fieldEmail&quot; required&gt;
                &lt;/p&gt;
                &lt;p ng-show=&quot;form.$submitted || form.fieldEmail.$touched&quot;&gt;
                    &lt;span ng-show=&quot;form.fieldEmail.$error.required&quot;&gt;Tell us your email.&lt;/span&gt;
                    &lt;span ng-show=&quot;form.fieldEmail.$error.email&quot;&gt;This is not a valid email.&lt;/span&gt;
                &lt;/p&gt;
                &lt;p&gt;
                    &lt;button type=&quot;submit&quot; ng-disabled=&quot;!form.$valid&quot;&gt;Submit&lt;/button&gt;
                &lt;/p&gt;
            &lt;/form&gt;
            ```
        </section>


        <section data-state="hands-on">
            <h2>Hands-on</h2>
            <ul>
                <li>Erstelle eine Detailseite für einen Kontakt.</li>
                <li>
                    Formularfelder für
                    <ul>
                        <li>Name</li>
                        <li>Email</li>
                        <li>Telefonnummer</li>
                    </ul>
                </li>
                <li>Validiere den Namen (required) und die E-Mail (korrekte E-Mail Adresse).</li>
            </ul>
        </section>

        <section>
            <h2>Scope-Funktionen</h2>
            <dl>
                <dt>$on</dt>
                <dd>Registriert einen Event-Listener.</dd>
                <dt>$emit</dt>
                <dd>Sendet einen Event die Hierarchie aufwärts bis zum $rootScope.</dd>
                <dt>$broadcast</dt>
                <dd>Sendet einen Event die Hierarchie abwärts vom der Quelle aus.</dd>
            </dl>
        </section>

        <section>
            <h2>Events</h2>
            <img src="/img/events.svg">
        </section>

        <section>
            <h2>System Events</h2>

            <dl>
                <dt class="fragment">$destroy</dt>
                <dd class="fragment">Wenn ein scope zerstört wird.</dd>
            </dl>

            <p class="fragment small">
                That's it, $destroy ist der einzige&hellip;
            </p>
        </section>


        <section>
            <h2>Scope Vererbung</h2>
            <dl>
                <dt>$rootScope</dt>
                <dd>Parent aller Scopes.</dd>
                <dd>Alle Scopes erben prototypisch von $rootScope bzw. Parent-Scope.</dd>
            </dl>
        </section>

        <section>
            <h2>Scope Isolation</h2>
            <ul>
                <li>Betrifft Direktiven.</li>
                <li>Der isolierte Child Scope verändert den Parent Scope nicht (ng-if, ng-switch, ng-repeat, ng-view, ng-include).</li>
                <li>Primitives die an eine Direktive mit isoliertem Scope übergeben werden, verlieren das 2-way Binding.</li>
            </ul>
        </section>

        <section>
            <h2>Data Binding</h2>
            <dl>
                <dt>View</dt>
                <dd>{{ myController.startDate | date:'simple' }}</dd>
                <dt>Controller</dt>
                <dd>this.startDate = new Date();</dd>
                <dd><br><br></dd>
                <dd>Angular kümmert sich automatisch um die Synchronisation zwischen den Daten in HTML und JavaScript und zwar in beide Richtungen. Falls etwas in JS geändert wird, zieht es Angular für das HTML nach und umgekehrt.</dd>
            </dl>
        </section>

        <section>
            <h2>Data Binding: Digest Cycle</h2>

            <ul>
                <li>Für jedes Objekt welches in einer View verwendet wird, wird eine Funktion in die Watch-List hinzugefügt.</li>
                <li>Sobald der Wert eines Objektes ändert, wird ein $digest Cycle ausgelöst.</li>
                <li>Im $digest Cycle werden alle Objekte auf Änderungen geprüft. Falls es Änderungen gab, wird der Cycle erneut ausgeführt, bis es keine mehr gibt.</li>
                <li>Anschliessend werden die Views neu gerendert.</li>
            </ul>
        </section>

        <section>
            <h2>Digest Cycle</h2>
            <img src="img/digest-cycle.svg">
        </section>

        <section>
            <h2>Controller, Scope und controllerAs</h2>
            <p>Es gibt zwei Varianten wie Controller und Scopes eingesetzt werden können.</p>
            <dl>
                <dt class="fragment">Standard:</dt>
                <dd class="fragment">Variablen und Methoden werden direkt auf dem Scope definiert. <img src="img/death.svg" style="height: 1em; vertical-align: text-bottom;"></dd>
                <dt class="fragment">'controllerAs'</dt>
                <dd class="fragment">Controller wird als eigenes Objekt an den Scope übergeben. Variablen und Methoden werden auf dem Controller definiert. Der Controller agiert als View Model.</dd>
            </dl>
        </section>

        <section>
            <h2>Beispiel</h2>
            <p>Route Definition:</p>
<pre>
<code type="javascript" data-trim>
function contactListState($stateProvider) {
    $stateProvider.state('contact-list', {
        templateUrl: 'contact-list.html',
        controller: 'ContactListController as contactList'
    });
}

angular
    .module('ContactList')
    .config(['$stateProvider', contactListState]);
</code>
</pre>
            <p>View:</p>
<pre>
<code type="html" data-trim>
&lt;ul&gt;
    &lt;li ng-repeat=&quot;contact in addressList.contacts&quot;&gt;{{ contact.name }}&lt;/li&gt;
&lt;/ul&gt;
</code>
</pre>
        </section>
        <section>
            <h2>Vorteile von 'controllerAs'</h2>
            <ul>
                <li class="fragment">Einfach nachvollziehbar von wo welche Daten kommen.</li>
                <li class="fragment">Vereinfachtes Testing von View-Funktionalität.</li>
                <li class="fragment">Verbesserte Wartbarkeit der Codebasis.</li>
            </ul>
            <h3 class="fragment">Empfehlung &#10174; immer controllerAs verwenden.</h3>
        </section>

        <section data-markdown>
            ## URL Parameter (ui-router)

            Definition von URL Parametern im State:

            ``` javascript
            $stateProvider.state('contactDetail', {
                url: '/detail/:name'
                /* ... */
            });
            ```

            $stateParams Service ermöglicht einen einheitlichen Zugriff auf URL-Parameter:

            ``` javascript
            class MyController{
                constructor($stateParams) {
                    this.name = $stateParams.name;
                }
            }
            ```

        </section>

        <section data-state="hands-on" data-markdown>
            ## Hands-on

            * Erstelle einen Controller für die Detail-View mit controllerAs Notation.
            * Verlinke den Kontakt aus der Liste mit der Detailansicht. Verwende dafür die URL Parameter von ui-router.
            * Die Route sollte /detail/:name lauten.
        </section>

        <section>
            <h2>Provider</h2>
            <p>Was ist ein Provider in AngularJS?</p>
            <p>
                AngularJS Provider (oder Services) sind Singleton Objekte, die spezifische Funktionalitäten zur
                Verfügung stellen und Applikationslogik enthalten.
            </p>
        </section>

        <section>
            <h2>AngularJS Provider-Typen</h2>
            <ul>
                <li>Provider</li>
                <li>Factory</li>
                <li>Service</li>
                <li>Value</li>
                <li>Constant</li>
            </ul>
        </section>

        <section>
            <h2>Provider</h2>
            <ul>
                <li class="fragment">Parent der anderen Service Typen (ausser Constant).</li>
                <li class="fragment">Konfigurierbar.</li>
                <li class="fragment">DI Abhängigkeiten im Provider Konstruktor können nur andere Provider oder Constants sein.</li>
                <li class="fragment">Beispiele: $stateProvider, $httpProvider.</li>
            </ul>
        </section>

        <section>
            <h2>Provider Beispiel</h2>
<pre><code class="javascript" data-trim>
class MyService { /* ... */ }

function MyServiceProvider() {
    let timeout = 3000;

    this.setTimeout = function(seconds) {
        timeout = seconds;
    };

    this.$get = [function() {
        return new MyService(timeout); // will only be called once
    }];
}

angular.module('SomeModule').provider('MyService', [MyServiceProvider]);
</code></pre>
        </section>

        <section>
            <h2>Factory</h2>
            <p>Wie Provider, aber ohne Konfiguration.</p>
        </section>


        <section>
            <h2>Factory Beispiel</h2>
<pre><code class="javascript" data-trim>
function TestFactory() {
    const thisIsPrivate = 'Private';

    function getPrivate() {
        return thisIsPrivate;
    }

    return {
        variable: 'This is public',
        getPrivate: getPrivate
    };
}

angular.module('SomeModule').factory('TestFactory', [TestFactory]);
</code></pre>
        </section>

        <section>
            <h2>Service</h2>
            <p>Wie Factory, aber anstatt einem Objekt definieren wir eine Klasse, die mit 'new' instanziert wird.</p>
            <p><strong>Empfehlung &#10174; Services gegenüber Factories vorziehen.</strong></p>
        </section>

        <section>
            <h2>Service Beispiel</h2>
<pre><code class="javascript" data-trim>
class HelloService {
    constructor() {
        // Do some initialization
    }

    sayHello() {
        console.log('Hello!')
    }
}

angular.module('SomeModule').service('HelloService', [HelloService]);
</code></pre>
        </section>

        <section>
            <h2>Value / Constant</h2>
            <ul>
                <li class="fragment">Ein Value kann alles sein, String, Date, Array, Number oder Object.</li>
                <li class="fragment">Ideal um statische Daten zu hinterlegen, welche über mehrere Controller, Services etc. hinweg benötigt werden.</li>
                <li class="fragment">Constants sind auch innerhalb von config Funktionen verfügbar, Values nicht. Das ist der einzige Unterschied.</li>
                <li class="fragment">Good to know: Constants können trotz des Namens geändert werden.</li>
            </ul>
        </section>

        <section>
            <h2>Constant Beispiel</h2>
<pre><code class="javascript" data-trim>
angular
    .module('SomeModule')
    .constant('apiBaseUrl', 'https://myhost/api/v1/');

// Wert kann auch ein Javascript Objekt sein:
angular
    .module('SomeModule')
    .constant('apiSettings', {
        baseUrl: 'https://myhost/api/',
        apiKey: 'letmein'
    });
</code></pre>
        </section>

        <section data-state="hands-on">
            <h2>Hands-on</h2>

            <ul>
                <li>Erstelle einen Service "ContactsService" mit der Methode “fetchContacts” der die Inhalte der Kontaktliste unter <nobr>https://nameless-sierra-8010.herokuapp.com/api/Contacts</nobr> zurückgibt.</li>
                <li>Verwende dafür den Angular $http Service.</li>
                <li>Ersetze die statische Kontaktliste mit der neuen aus dem Service.</li>
            </ul>

            <h3>Bonus</h3>

            <ul>
                <li>Mach den URL zum API-Endpoint konfigurierbar.</li>
            </ul>
        </section>

        <section>
            <h2>Authentication</h2>

            <p>
                Wir müssen alle Routes unzugänglich machen, bis sich der Benutzer eingeloggt hat. Anschliessend sollte der Benutzer zur gewünschten Seite
                weitergeleitet werden.
            </p>
        </section>

        <section>
            <h2>Möglichkeit 1</h2>

<pre><code class="javascript" data-trim>
$rootScope.$on('$locationChangeSuccess',
    function(event, newUrl, oldUrl, newState, oldState) {
        event.preventDefault();

        // authenticate

        $urlRouter.sync();
    }
);
</code></pre>

            <p>Event wird beim initialen Laden nicht ausgelöst.</p>
        </section>

        <section>
            <h2>Möglichkeit 2</h2>

<pre><code class="javascript" data-trim>
resolve: {
    authToken: ['authenticationService', function(authService) {
        return authService.authenticate();
    }]
}
</code></pre>
        </section>

        <section>
            <h2>Auth-Token</h2>

<pre><code class="javascript" data-trim>
$httpProvider.interceptors.push(/* function or string */);
</code></pre>
        </section>

        <section>
            <h2>Auth-Token</h2>

<pre><code data-type="javascript" data-trim>
function myInterceptor() {
    return {
        request: function(config) {
            config.headers.authToken = 'super-secret';

            return config;
        }
    };
}
</code></pre>
        </section>

        <section data-state="hands-on">
            <h2>Hands-on</h2>

            <ul>
                <li>
                    Füge einen Logindialog zur Applikation hinzu.
                    <ul>
                        <li>POST: /Users/login</li>
                        <li>Body-Parameter &quot;email&quot; und &quot;password&quot;.</li>
                        <li>"data.id"-Property in der Response enthält den Auth-Token.</li>
                    </ul>
                </li>
                <li>
                    Sende den Auth-Token im "Authorization"-Header mit.
                </li>
                <li>
                    Du kannst eine Library wie <a href="https://www.npmjs.com/package/angular-visor">angular-visor</a> verwenden 
                    oder alles selbst implementieren.
                </li>
            </ul>
        </section>

        <section>
            <h2>Testing</h2>
            <ul>
                <li>End to end Testing mit Protractor.</li>
                <li>Tests laufen gegen die Applikation im Browser.</li>
                <li>Macht das Testen von User Interaktionen möglich.</li>
            </ul>
        </section>

        <section>
            <h2>Setup Testing</h2>
            <p>Protractor installieren</p>
<pre><code class="bash" data-trim>
npm install -g protractor
</code></pre>

            <p>Selenium installieren &amp; starten</p>
<pre><code class="bash" data-trim>
webdriver-manager update
webdriver-manager start
</code></pre>

        </section>

        <section data-markdown>
            ## Protractor

            - Jasmine basierter Syntax.
            - Selenium Server zur Fernsteuerung des Browsers.
            - AngularJS spezifische Hilfsfunktionen wie:
                - by.model()
                - by.binding()
                - by.id()
        </section>

        <section>
            <h2>Beispiel Protractor Test</h2>
<pre><code class="javascript" data-trim>
describe('Angular Workshop Address Book', function() {
    it(
        'should show a contact detail page when a contact was selected',
        function() {
            browser.get('http://localhost:8088/');
            element(by.model('contacts')).get(1).click();

            expect(browser.getCurrentUrl()).toContain('/detail/1');
        }
    );
});
</code></pre>
        </section>


        <section data-state="hands-on" data-markdown>
            ## Hands-on

            Erstelle einen Protractor Test, der sicher stellt, dass die Kontaktliste korrekt gefiltert wird.

            ### Bonus

            Teste zusätzlich, dass der Klick auf einen Kontakt die korrekte Detailseite aufruft.

        </section>

        <section>
            <h2>Custom Directives</h2>
        </section>

        <section>
            <h2>Directive Definition Object</h2>
<pre><code class="javascript" style="font-size: .9em; line-height: 1em;" data-trim>
function testDirective(injectables) {
    return {
        priority: 0,
        replace: false,
        template: '&lt;div&gt;&lt;/div&gt;',
        transclude: false,
        restrict: 'A',
        scope: false,
        controller: '',
        controllerAs: 'stringIdentifier',
        bindToController: false,
        require: 'siblingDirectiveName', // or // ['^parentDirectiveName', '?optionalDirectiveName', '?^optionalParent'],
        compile: function compile(tElement, tAttrs, transclude) { },
        link: function($scope, element, attrs, controllers, transclude) { }
    };
}

angular.module('myApp').directive('testDirective', [testDirective]);
</code></pre>

        </section>

        <section>
            <h2>Directive Definition Object: Scope</h2>
<pre><code class="javascript" data-trim>
scope: {
    myProperty: '=?',
    otherProperty: '&amp;',
    someAttribute: '@',
    oneWayProtery: '<' // new in 1.5
}
</code></pre>

        </section>

        <section>
            <h2>Beispiel Direktive</h2>
<pre><code class="javascript" data-trim>
function mouseInteractionDirective(injectables) {
    return {
        restrict: 'A',
        link: function ($scope, element) {
            $scope.mouseInteractionController.initialize(element);
        }
    };
}

angular
    .module('myApp')
    .directive('mouseInteraction', [mouseInteractionDirective]);
</code></pre>
        </section>

        <section data-markdown>
            ## Laufzeit von Direktiven

            1. Browser parst HTML.
            2. AngularJS identfiziert alle Direktiven für ein HTML Element.
            3. Direktiven werden nach Priorität (priority) sortiert.
            4. Die compile() Funktion jeder Direktive wird aufgerufen.
            5. Kompilierte Templates werden in das DOM eingefügt und link() wird aufgerufen.
        </section>

        <section>
            <h2>Custom Components</h2>
            <p>
                Neu ab Angular 1.5.<br>
                <small><a href="https://docs.angularjs.org/guide/component" target="_blank">docs.angularjs.org/guide/component</a></small>
            </p>
        </section>

        <section>
            <h2>Component Definition Object</h2>
<pre><code class="javascript" style="font-size: .9em; line-height: 1em;" data-trim>
function customComponent(injectables) {
    return {
        template: '&lt;div&gt;&lt;/div&gt;',
        transclude: false,
        bindings: {
            myAttribute: '='
        },
        controller: 'CustomComponentController', // instantiated as $ctrl
        require: {
            parent: '^parentComponent'
        }
    };
}

angular.module('myApp').directive('testDirective', [testDirective]);
</code></pre>
            <p>
                <i>$onInit</i> Lifecycle Callback als Ersatz für <i>link</i>.
            </p>
        </section>

        <section>
            <h2>Component oder Directive?</h2>
            <ul>
                <li>Component für Elemente.</li>
                <li>Directive für Attribute.</li>
            </ul>
        </section>

        <section data-state="hands-on">
            <h2>Hands-on</h2>
            <p>
                In der Kontaktliste soll jeder Kontakt ein automatisch generiertes Profilbild von Robohash.org erhalten.
                Erstelle eine neue Komponente, die Anhand der E-Mail Adresse ein Bild ausgibt.
            </p>
            <h3>Robohash-API</h3>
            <p>https://robohash.org/{{ email }}</p>
        </section>

        <section data-markdown>
            ## $http Service

            ### HTTP Methoden

            - get()
            - head()
            - post()
            - put()
            - delete()
            - patch()

            Alle Methoden geben ein Promise-Objekt zurück.
        </section>

        <section data-markdown>
            ## $http Custom Headers

            ```javascript
            angular.module('myApp').run(function($http) {
                $http.defaults.headers.common.Authorization = 'Basic IVxfcIKfib341';
            });
            ```
        </section>

        <section data-markdown>
            ## Promise API

            ```javascript
            const promise = $http.get('/someService');

            promise
                .then(successCallback)
                .catch(errorCallback);
            ```
        </section>

        <section data-markdown>
            ## Promise Chaining

            ``` javascript
            function filterTemperatures(response) {
                return response.data.map(element => element.temperature);
            }

            function calculateAverage(numbers) {
                return numbers.reduce((a, b) =>  a + b) / numbers.length;
            }

            $http
                .get('/weatherService')
                .then(filterTemperatures)
                .then(calculateAverage)
                .then(result => console.log('Average is: ' + result));
            ```
        </section>

        <section>
            <h2>AngularJS in Grossprojekten</h2>

            <ul>
                <li class="fragment">Struktur</li>
                <li class="fragment">Tooling: SystemJS, ES6 (via BabelJS), Unit Testing, e2e Testing</li>
                <li class="fragment">Log service</li>
                <li class="fragment">Continuous Integration</li>
                <li class="fragment">Maven Integration</li>
            </ul>
        </section>

        <section>
            <h2>Performance</h2>
        </section>

        <section data-markdown>
            ## Konfigurationstipps

            ``` javascript
            angular
                .module('myApp')
                .config(['$logProvider','$compileProvider', function($logProvider, $compileProvider) {
                    $logProvider.debugEnabled(false);
                    $compileProvider.debugInfoEnabled(false);
                }]);
            ```
            Note:
            $logProvider: Log Messages abschalten in Produktivumgebung.
            $compileProvider: Unnötige CSS Klassen und Debug Infos entfernen.
        </section>

        <section>
            <h2>Tipps für ng-model</h2>
            <p>Definiere wie oft der $digest Cycle angestossen wird.</p>
            <h3>ng-model-options</h3>
<pre><code type="html" data-trim>
&lt;input
 ng-model=&quot;user.name&quot;
 ng-model-options=&quot;{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }&quot;
 type=&quot;text&quot;
&gt;
</code></pre>
        </section>
        <section>

            <h2>Tipps für Data-Bindings</h2>
            <p>
                Two-way Binding nur verwenden, wo es wirklich nötig ist.
            </p>
            <p>
                In den meisten Fällen reicht ein one-time Binding aus.
            </p>
<pre><code type="javascript" data-trim>
{{ ::contact.name }}
</code></pre>
        </section>

        <section>
            <h2>Tipps für ng-repeat</h2>

            <p>ng-repeat immer mit track-by verwenden.</p>
            <p>&#10174; ng-repeat entfernt und kreiert die DOM Nodes bei jedem Refresh.</p>
        </section>

        <section>
            <h2>Fragen?</h2>
            <img src="http://s2.quickmeme.com/img/51/519a00e0cfdbbd288fad0cd62a8e603444b15dc3fe819828c37d18be41cfcffa.jpg">
        </section>

        <section>
            <h2>Vielen Dank!</h2>
        </section>

    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration


    var cblocks = document.querySelectorAll("pre code");

    if(cblocks.length) {
        for(var i=0, len=cblocks.length; i<len; i++) {
            var dom = cblocks[i];
            var html = dom.innerHTML;
            html = html.replace(/</g,"&lt;").replace(/>/g,"&gt;");
            dom.innerHTML = html;
        }
    }

    Reveal.initialize({
        controls: true,
        progress: false,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true },
            { src: 'plugin/notes/notes.js', async: true }
        ]
    });

</script>

</body>
</html>